<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.honestme.androidexercise"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".ipc.MessengerServer"
            android:process=":remote">
        </service>

        <activity
            android:name=".app.csdn.CSDNMainActivity"
            android:theme="@style/MyTheme.Csdn"/>

        <service
            android:name=".ipc.aidl.BookManagerService"
            android:process=":remote"/>

        <activity android:name=".ipc.aidl.AIDLMainActivity">
        </activity>
        <activity android:name=".tools.myimageloader.MyImageLoaderActivity">
        </activity>
        <activity android:name=".basic.sharesimpledata.ShareSimpleDataActivity">
        </activity>
        <activity android:name=".basic.sharesimpledata.AcceptSimpleDataActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND">
                </action>
                <action android:name="android.intent.action.SEND_MULTIPLE"></action>
                <data android:mimeType="text/plain"></data>
            </intent-filter>

        </activity>
    </application>

</manifest>
